stages:
  - sync

hyper_sync:
  stage: sync
  image: python:3.12
  before_script:
    - pip install requests
  script:
    - python scripts/universal_repo_sync.py
  rules:
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG
  variables:
    # Variables should be defined in GitLab CI/CD Settings for security
    # The script expects:
    # SYNC_GITHUB_TOKEN
    # SYNC_GITHUB_ID
    # SYNC_GITLAB_TOKEN
    # SYNC_GITLAB_ID
    TRIVY_NO_PROGRESS: "true"
