{% extends "base.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend><h2>Create Your Account</h2></legend>
            <p>
                {{ form.full_name.label }}<br>
                {{ form.full_name(size=30) }}
                {% if form.full_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.full_name.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=30) }}
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=30) }}
                {% if form.password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>
            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=30) }}
                {% if form.confirm_password.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>
        </fieldset>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}