{% extends "base.html" %}
{% block content %}
    <article>
        <h2>{{ lesson.title }}</h2>
        <p>{{ lesson.content }}</p>
    </article>
    <hr>
    <h3>Exercises for this lesson:</h3>
    <ul>
    {% for exercise in lesson.exercises %}
        <li>
            <!-- === التعديل هنا === -->
            <a href="{{ url_for('routes.exercise_view', exercise_id=exercise.id) }}">{{ exercise.question }}</a>
        </li>
    {% else %}
        <li>No exercises for this lesson yet.</li>
    {% endfor %}
    </ul>
{% endblock %}