{% extends "base.html" %}
{% import "_form_helpers.html" as forms %}

{% block content %}
    <div class="content-section">
        <!-- THE SUPERCHARGED FIX (v3.0): action now points to 'main.login' -->
        <form method="POST" action="{{ url_for('main.login') }}">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Log In</legend>
                {{ forms.render_field(form.email) }}
                {{ forms.render_field(form.password) }}
            </fieldset>
            <div style="margin-top: 1em;">
                {{ form.submit() }}
            </div>
        </form>
    </div>
    <div style="margin-top: 1em;">
        <!-- THE SUPERCHARGED FIX (v3.0): Link also points to 'main.register' -->
        Need An Account? <a href="{{ url_for('main.register') }}">Sign Up Now</a>
    </div>
{% endblock content %}
